.services-category {
  @include clearfix;
  h3 {
    border-bottom: 1px solid $color-four;
    padding-bottom: 1em;
  }
  .services-subcategory {
    h4 {
      color: $hover;
      font-size: 1.2em;
      margin: 0 0 .5em;
    }
    .sub-text {
      margin: 10px 0;
      font-style: italic;
    }
    @include breakpoint($tablet, $no-query: ".no-mq") {
      width: 49%;
      display: inline-block;
      vertical-align: top;
    }
    @include breakpoint($desktop, $no-query: ".no-mq") {
      width: 33%;
    }
    ul {
      list-style: none;
      padding-left: 0;
      @include breakpoint($tablet, $no-query: ".no-mq") { padding-right: 3em; }
      li {
        width: 100%;
        margin-bottom: .15em;
        position: relative;
        overflow: hidden;
        @include clearfix;
        .item-name {
          z-index: 1;
          position: absolute;
          top: 0;
          left: 0;
          &:after {
            width: 100%;
            content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
            overflow: hidden;
            font-weight: normal;
            color: darken($color-one, 50%);
          }
        }
        .item-price {
          position: relative;
          float: right;
          padding-left: 5px;
          background-color: $site-bg;
          z-index: 2;
          font-weight: bold;
        }
      }
    }
  }
}
.full-width {
  .services-subcategory {
    @include breakpoint($tablet, $no-query: ".no-mq") { width: 100%; }
    @include breakpoint($desktop, $no-query: ".no-mq") { width: 100%; }
  }
}
.disclaimer {
    border-top: 1px solid $color-four;
    margin-top: 1em;
    h4 { color: #27A177; }
    div {
      margin: 10px 0;
      font-style: italic;
    }
}