.menu {
  padding: 0;
  margin: 0;
  font-family: $heading-font-family;
  font-size: 1em;
  @include breakpoint($bp-medium, $no-query: '.no-mq') {
    //text-align: right;
  }
  li {
    list-style: none;
    margin: 0;
    display: block;
    padding: .5em 0em;
    position: relative;
    @include breakpoint($bp-medium, $no-query: '.no-mq') {
      display: inline-block;
       padding: .75em 1em;
    }
    a {
      font-weight: 700;
      transition: color .5s ease;
      padding: 0;
      display: block;
      color: #000;
      text-transform: uppercase;
      &:hover {
        color: $color-one;
      }
      &:active {
        position: relative;
      }
    }
    // Show DropDown Menu
    &:hover ul {
      @include breakpoint($bp-medium, $no-query: '.no-mq') {
        opacity: 1;
        visibility: visible;
        margin-top: 12px;
      }
    }
    // DropDown Menu
    ul {
      padding: .4em 1em 0;
      @include breakpoint($bp-medium, $no-query: '.no-mq') {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        width: 200px;
        text-align: left;
        background: $color-one;
        margin-top: -20px;
        transition: all .35s ease-in;
        padding: .3em 0;
        li {
          margin: 0;
          padding:.45em .9em;
          font-size: 90%;
          display: block;
          a {
            color: #fff;
            &:hover {
              color:#fff;
            }
          }
        }
      }
    }
  }
  a, a:visited {
    text-decoration: none;
  }
}